<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" (click)="modeButtonListen()">
      <ion-icon aria-hidden="true"  name="server"></ion-icon>
      <ion-label>Data</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" (click)="modeButtonListen()">
      <ion-icon name="home"></ion-icon>

      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goBack()">
      <ion-icon  aria-hidden="true" name="return-down-back"></ion-icon>
      <ion-label>Back</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
