<app-global-header title="Home"></app-global-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page">


  </app-explore-container>
  <div id="container" class="content-tab">
    <ion-searchbar animated="true" placeholder="ingresa un numero" [(ngModel)]="searchValue"
    (keydown)="searchItem($event)"  ></ion-searchbar>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Play</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ng-container *ngIf="arrNum && arrNum.length > 0; else searchEmpty " >
          <p>numero ingresado: {{searchValue}}</p>
          <ion-badge style="margin: 2px;" *ngFor="let num of arrNum"  [ngClass]="{
            'green-class': num.color === 3,
            'red-class': num.color === 5,
            'blue-class': num.color === 7,
            'black-class': num.color === 0
          }"  slot="start">{{num.numero}}</ion-badge>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>


 


</ion-content>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Formato Incorrecto"
  message="Ingrese un numero."
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

<ng-template #searchEmpty>
  ingrese un valor en el buscador
</ng-template>